body{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    background-color: #e4decd;
    flex-direction: column;
}
.main{
    /* background-color: black; */
    /* width: 400px;
    height: 500px; */
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.num{
    padding:10px;
    width: 80px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
}
.answer{
    width: 220px;
    height: 50px;
    background-color: #f9c5bd;
    border-radius: 10px;
    display: flex;               /* Enables flexbox */
    justify-content: center;     /* Centers content horizontally */
    align-items: center;         /* Centers content vertically */
    text-align: center;          /* Centers multi-line text */
    font-size: 20px;             /* Optional: make text more readable */
    font-weight: bold;  
    
}
button:hover{
    background-color: aqua;
}